[submodule "clojure-mode"]
	path = clojure-mode
	url = http://github.com/technomancy/clojure-mode.git
[submodule "slime"]
	path = slime
	url = http://github.com/nablaone/slime.git
[submodule "auto-complete"]
	path = auto-complete
	url = ./auto-complete/
